body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/***********************  MENU ADMIN    ********************/
.menu_admin{
    position: fixed;
    background: linear-gradient(90deg ,#FF5F6D,#FFC371);
    width: 240px;
    height: 100%;
    text-align: center;
}
.profileadmin{
    margin-top: 30px;
    margin-bottom: 20px;
}
.menubien{
    margin-bottom: 20px;
}
.menurdv{
    margin-bottom: 20px;
}

.onglet_admin{
    position: relative;
    display: block;
    left: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
    text-decoration: none;
    width: 180px;
    height: 30px;
    background-color: #fa5c5c;
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding:5px 0px 3px 0px;
}

.onglet_admin:hover{
    background-color: #f79090;
}

.onglet_rdv{
    background-color:#ec6868;
}
.onglet_rdv:hover{
    background-color: #ff9d92;
}

.onglet_client{
    background-color: #e93c28;
}

.onglet_client:hover{
    background-color: #fa6d5d;
}
.photo_profil{
    position: relative;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 200px;
    top: 10px;
    margin-bottom: 10px;
}
/***********************           Page Admin             *****************/
.container{
    position: absolute;
    left: 250px;

}

.titre_plfrm{
    margin: 0;
    text-decoration: underline;
}

.header_admin{
    position: fixed;
    background-color: #ecf0f1;
    width: 100%;
    height: 1.2cm;
    margin: 0;
    padding-left: 10px;
}

.container_icon{
    position: relative;
    left: 950px;
    bottom: 35px;
}

.icon_header{
    font-size: 30px;
    color: black;
    margin-right: 5px;
}

.icon_header:hover{
    color: #e74c3c;
}

.rdv{
    position: relative;
    top:50px
}

/***************************************  formulaire admin     ********************************/
.form_admin{
    position: relative;
    border: 1px solid black;
    top: 50px;
    background-color: #ecf0f1;
    padding: 10px;
}

.inp_insc{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;


}

/***********************************   Liste des biens ******************************************/
.liste_biens{
    border: 1px solid black;
    overflow-y: scroll;
}

.icon_supprimer{
    color: red;
}