body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#8d8d8d;
}
/***********************  MENU ADMIN    ********************/
.menu_admin{
    position: fixed;
    background: linear-gradient(180deg ,#000000,#8d8d8d);
    width: 240px;
    height: 100%;
    text-align: center;
}

.menubien{
    margin-bottom: 20px;
}
.menurdv{
    margin-bottom: 20px;
}
h2.nom_admin {
    margin-top: 0;
    color: white;
}
.onglet_admin{
    position: relative;
    display: block;
    margin-top: 7px;
    text-decoration: none;
    height: 30px;
    background-color: #ced6e0;
    font-weight: bold;
    color: black;
    padding:5px 0px 3px 0px;
    transition: 1s;
}

.onglet_admin:hover{
    background-color: #313131;
    color: #fa6014;
}


.photo_profil{
    position: relative;
    width: 120px;
    height: 120px;
    border: 2px solid black;
    border-radius: 200px;
}
/***********************           Page Admin             *****************/
.page_admin {
    position: relative;
    top: 43px;
    width: 100%;
    height: 90%;
    
    background-repeat: no-repeat;
    background-size:cover
    
}
.container{
    position: absolute;
    left: 239px;
    width: 1120px;
    height: 100%;
}


.header_admin{
    position: fixed;
    background-color: #000000;
    width: 100%;
    height: 1.2cm;
    margin: 0;
    padding-left: 10px;
}
.header_admin h1{
    position: absolute;
    color: #fa6014;
    margin: 0;
    left: 300px;
}

.container_icon{
    position: absolute;
    right: 270px;
   
}

.icon_header{
    font-size: 30px;
    color: #ffffff;
    margin-right: 5px;
}

.icon_header:hover{
    color: #fa6014;
}

.rdv{
    position: relative;
    top:50px
}

/***************************************  formulaire admin     ********************************/
.form_admin{
    position: relative;
    border: 1px solid black;
    top: 50px;
    left: 5px;
    background-color: #ecf0f1;
    padding: 10px;
}

.inp_insc{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;


}

.inc_btn{
    border: none;
    height: 54.5px;
    width: 64px;
    padding: 12.5px;
    background-color: white;
    color:  #ff5722;
    font-size:1.25rem;
    margin-left: -4px;
}

/***********************************   Liste des biens ******************************************/
.liste_biens{
    border: 1px solid black;
    overflow-y: scroll;
}

.icon_supprimer{
    color: red;
}

.voir_plus{
    text-decoration: none;
    color: #000ed3;
}
/*************************************   form modification  **************************************/

.modifier_bien{
    position: absolute;
    top: 50px;
    width: 352px;
    left: 750px;
    border: 1px solid black;
    background-color: #ecf0f1;
    padding: 10px;
}