body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
   
}
header{
    background-color: #ffffff;
   
}

ul{
    margin: 0px;
    padding: 0px;
    width: 100%;
    list-style: none;
    display: flex;
    position: relative;
    bottom: 50px;
}
ul li{
    
    height: 40px;
    width: 447.5px;
    background-color: #ecf0f1;
    border:1px solid #bfc1c2;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    
}

ul li:hover{
    background-color: #e74c3c;
    color: #ffffff;
}

.logo{
    width: 1.8cm;
    height: 1.8cm;
    position: relative;
}


.inscription_connexion{
    position: absolute;
    float: right;
    top: 25px;
    right: 10px;
    font-size: 17px;
    color: #e74c3c;
}
.inscription{
    margin-left: 10px;
    
color: #e74c3c;
font-weight: bold;
}
.slogan{
  position: absolute;
    font-weight: bold;
    color: #e74c3c;
    margin-top: 20px;

}
.rej{
     position: absolute;
    font-weight: bold;
    color: #d6dadb;
    padding-left: 600px;

}

.inscription:hover{
    text-decoration: none;
color: #e74c3c;
background-color: #d6dadb;
border:1px #d6dadb solid;
border-radius: 34px;
}
.container_rechercher{
    position: relative;
    left: 451px;
    bottom: 30px;
    width: 483px;
}
.recherche{

    width: 400px;
    height: 41px;
    font-size: 20px;
    border:1px solid #d6dadb;
    border-radius: 50px;
    margin-bottom: 30px;
    position: relative;
    bottom: 20px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color:#d6dadb;

}
.btn_recherche{
    width: 40px;
    height: 41px;
    font-size: 20px;
    padding: 7px 20px;
    padding-left: 13px;
    border-radius: 50px;
    margin-bottom: 30px;
    position: relative;
    bottom: 18.5px;
   background-color: #e74c3c;
    border:1px solid #d6dadb;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color:#d6dadb;
}

.btn_recherche i{

    align-items: center;
position: relative;
    right: 8px;
    font-size: 22px;
    background-color: #e74c3c;
}
/**************************************   FOOTER   *************************************/
footer{
    background-color: #e74c3c;
    height: 3.5cm;
    position: absolute;
    bottom:0;
    width: 100%;
}
.social-button {
    position: absolute;
    right: 20px;
display: inline;
    margin-right:40px;
    margin-top:45px;
}
.contact{
	
	display:inline-block;
    }
    span{
        font-size: 23px;
        margin-left:20px;
         color: #d6dadb;
    }
    .adres{
         font-size: 20px;
         margin-left:5px;
         font-weight: bold;
    }
#numero{
    margin-right: 15px;
    padding-top: 10px;

    padding-left: 12px;
	font-size: 30px;
	width:50px;
	height:50px;
    background-color: #d6dadb;
    color: #e74c3c;
    border-radius: 100%;
    align-items: center;
    justify-content: center;

display: block;
margin-top: 5px;
}



#adresse{
    height:50px;
    width:50px;
    background-color: #d6dadb;
     color: #e74c3c;
    border-radius: 100%;
     margin-right: 5px;
    padding-top: 10px;
    padding-left: 13px;
    font-size: 30px;
    border: 1px #d6dadb solid ;
    float: left;    
}



.social-button a{
    display: inline-flex;
    text-decoration: none;
    font-size: 30px;
    width: 50px;
    height: 50px;
    background-color: #d6dadb;
    justify-content: center;
    align-items: center;
    color: #e74c3c;
    position: relative;
    margin-left:5px;
    border-radius: 360px;
    transition: 0.6s;

}
.social-button a:hover{
    text-decoration: none;
    background-color: #e74c3c;
    color: #d6dadb;

}



/**********************************   PAGE INSCRIPTION  ************************************/
.form_inscription{
    position: relative;
    text-align: center;
    border: solid 1px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.inp_insc{
    width: 400px;
    height: 0.8cm;
    font-size: 20px;
    padding: 8px 15px;
    border:1px solid #d6dadb;
    border-radius: 50px;
    margin-bottom: 20px;
    
}

.btn_inscr{
    margin-bottom:20px;
    width: 200px;
    height: 0.8cm;
    background-color: #e74c3c;
    color: #ffffff;
    font-size: 20px;
    font-weight:500;
    padding: 8px 15px ;
    border: 1px solid #d6dadb;
    border-radius: 50px;
    margin-bottom: 30px;
}


/***********************  DEPOSER UNE ANNONCE ****************************************/

.form_annonce{
    position: relative;
    text-align: center;
    
}

.discription_annonce{
    font-size: 20px;
    padding: 8px 15px;
    border:1px solid #d6dadb;
    border-radius: 20px;
    margin-bottom: 20px;
    resize: none;
    
}

.ajouter_img{
    margin-bottom:20px;
    width: 400px;
    height: 0.8cm;
    background-color: #e74c3c;
    color: #ffffff;
    font-size: 20px;
    font-weight:500;
    padding: 8px 15px ;
    border: 1px solid #d6dadb;
    border-radius: 50px;
    margin-bottom: 30px;
}