@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&family=EB+Garamond&family=Lobster&display=swap');
/*********************  corps de la page  ********************************/
html,body{
    
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        height: 100%;
        background: #ffffff !important;
        font-family:Tahoma;
}
  

/***********************************  header et navigation bar  *****************************************/
header{
    font-size: 1.15rem;
    background-color: white;
}
.borderhr{
    border-bottom:1px solid silver;
}
.navbar-right{
    margin-top: 20px;
}
.logo{
    width: 200px;
    height: 80px;
   
}
#separateur{
    border-left: 1px solid black;
    padding-bottom: 5px;
    margin-right: 5px;
 }
ul li,ul{
    list-style: none;
    display: inline;
    padding: 0;
    text-align: center;
}

a:hover{
    text-decoration: none;
    color:black;
}
li> a{
    text-decoration: none;
    color: black;
    padding: 0.5em;
    
}
li :hover{
    transition: 0.7s;
    background-color: #ff5722;
    color:white;
}
.menu_profil {
    position: absolute;
    width: 160.72px;
    top: 83px;
    right: 0px;
    /* background-color: white; */
}
.menu_profil li{
    text-align: center;
}
/***************************       page d'index        *********************************/


/************************************** recherche sure site landing *********************************************/
.sec1{
    background-image: url(../images/landing.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height:660px;
    display: flex;
    color: white;
    align-items: center;
}
.searchbox{
    display:grid;
    justify-content: center;
    align-items: center;
    background-color: #000000d6;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: 'Cormorant Garamond', serif;

}
.searchform{
    margin-top: 50px;
    margin-bottom: 20px;
    
}
.btn_recherche{
    border: none;
    height: 55px;
    width:65px;
    background-color:white;
    color:  #ff5722;
    font-size:1.25rem;
    margin-left:-5px;
    
}
.btn_recherche :hover{
    color:#00adb5;
    
}
#tizisearch{
    font-size: 1.25em;
 height: 55px;
 width:85%;
 border: none;
 
 padding: 10px 20px 10px 20px;
 
}
/*****************   suggestions    **********************/
.sec2{
    margin:auto;
    padding-top: 40px;
    height:auto;
    width: 100%;
    background:#fff;
}
.headsug{
    margin-top: 20px;
    margin-bottom:30px;
    border-radius:0.25rem;
    background-color: rgba(0, 0, 0, 0.9);
    color:white;
    font-family: 'Cormorant Garamond', serif;
    padding:20px 0 20px 0;
}
.biensugbox{
    padding-top: 30px;
    padding-bottom: 30px;
}
.biensug{
    height: 400px;
    width: 225px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.9);
     border-radius: 1rem;
     color:white;
     
}
.imgbien{
    width: inherit;
    height:250px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.infobien{
    height:110px;
    padding: 10px;
   
}
.linkdetail{
    background-color: rgba(255,255,255,0.4);
    height:40px;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width:inherit;
}
.linkdetail>a{
    color:#000;
    font-weight: 500;
    font-size: 1.2em;
    padding-top:5px;
}
.linkdetail :hover{
    background-color:#ff5722;
    font-size: 1.3rem;
    padding-top: 3px;
    width:inherit;
    color:white;
}
/**************************************   FOOTER   *************************************/
footer{
    background-color: white;
}
.foot{
border-top:1px solid silver;
padding-top: 20px;
font-family: initial;
margin-bottom:20px;
}
.logo-foot{
    margin:30px;
}
.onelinkfoot{
    margin-right: 35px;
    margin-top:30px;
    padding:5px ;
}
.onelinkfoot>a{
display:block;
color:black;
}
.onelinkfoot>a:hover{
    color: #ff5722;
    }
.reseign{
    margin-top:15sspx;
    font-size:1.15rem;
}
#numero, #adresse,.sns{
    background-color: white;
    color: #ff5722 ;
    padding:7px;
    font-size: 1.5rem;
    border-radius: 50%;
    margin:5px;
}
.social{
    margin:5px;
}
#fb{
    padding:7px 11px 7px 11px;
}
 .sns:hover{
    background-color:#ff5722;
    color: white ;
}

/***********************  DEPOSER UNE ANNONCE ****************************************/

.form_annonce{
    position: relative;
    text-align: center;
    
}

.discription_annonce{
    font-size: 20px;
    padding: 8px 15px;
    border:1px solid #d6dadb;
    border-radius: 0.25rem 0 0 0.25rem ;
    margin-bottom: 20px;
    resize: none;
    
}

.ajouter_img{
    margin-bottom:20px;
    width: 400px;
    height: 0.8cm;
    background-color: #e74c3c;
    color: #ffffff;
    font-size: 20px;
    font-weight:500;
    padding: 8px 15px ;
    border: 1px solid #d6dadb;
    border-radius: 50px;
    margin-bottom: 30px;
}
.fulldepose{
    background-image: url(../images/depose.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 100px;
}
.deposeheader{
    display:grid;
    align-items: center;
    justify-content: center ;
    background-color: rgba(0, 0, 0, 0.6);
    color:white;
    margin-left:10%;
    margin-right:10%;
    margin-top: 40px;
    border-radius: 0.4rem;
    padding: 30px 20px 30px 20px;
    font-family: 'Cormorant Garamond', serif;

}

/**************************************     page de connexion    *******************************/
    #fullconnex{
    padding: 115px 0 115px 0;
    background-image: url(../images/connex.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
    display: grid;
    align-items: center;
    }

    
    .user_card {
      
        height: 425px;
        width: 350px;
        margin-top: auto;
        margin-bottom: auto;
        background: #000000f0;
        color:white;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 #000;
        -webkit-box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 #000;
        -moz-box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 #000;
        border-radius: 5%;

    }
    #user_card_insc{
        height: 680px;
        width:400px;
        margin-top: 30px;
    
    }
    #user_card_annonce{
        height: 1000px;
        width: 500px;
        margin-top: 30px;

    }

    
    .brand_logo {
        
        position: relative;
        height: 100px;
        width: 150px;
        top:15px;
        
    }
    .form_container {
        margin-top: 10px;
        text-align: center;
        
    }
    .container_form{
        height: 87%;
    }
    #form_container_insc{
        width: 290px;
    }
    .controle{
        right: 10px;
    }
    

    .titre_connexion{
        text-align: center;
    }
    .login_btn {
        width: 100%;
        background: #ff5722;
        color: white ;
        font-weight: bold;
    }
    .login_btn:hover{
        
        background: #ff8a67;
        color: rgb(0, 0, 0) ;
    }

    #btn_image{
        background-color: #d6dadb;
        color: black;
    }
    #login_btn_insc{
        width: 70%;
    
    }
    
    .login_btn:focus {
        box-shadow: none ;
        outline: 0px ;
    }
    .login_container {
        padding: 0 2rem;
    }
    .input-group-text {
        background: #ff5722 ;
        color: white ;
        border: 0 ;
        border-radius: 0.25rem 0 0 0.25rem ;
    }
    .forgetconnex{
        padding-bottom: 20px;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none ;
        outline: 0px ;
    }
   
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #ff5722 ;
    }
    /***********************************  page d'inscription  *****************************************/
    .fullinscri{
        background-image: url(../images/inscript.jpg);
        background-size: cover;
        background-attachment: fixed;
       padding-top: 5px;
       height: 1000px;
       padding-bottom: 40px;
       
     
    }
    /************************   Style page connexion admin **********************************/
    .fulladmin{
        height:110%;
        background-image: url(../images/connexadmin.jpg);
        background-repeat: no-repeat;
        background-size:cover; 
    }
    .login_admin {
        width: 100%;
        background: #ff5722;
        border-radius:0.25rem;       
        margin-bottom: 30px;
    }
    .login_admin :hover{
        width:100%;
        background: #ff8a67;
        color: rgb(0, 0, 0) ;
    }
    .login_admin > button {
        font-weight:bold;
        color:white;
    }
    /********************************** demande visite rdv***********************************/
    .demanderdv{
        background-image: url(../images/rdvdemande.jpg);
        background-size: cover;
        background-attachment: fixed;
       height:100%;
       padding-top:3px;
       padding-bottom: 500px;
       margin-top: -10px;
    }
    .blockformrdv{
        display: flexbox;
       
    }
    .rdvform{
        margin-top: 40px;
        padding-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.9);
        width:400px;
        color: white;
    }
    .bienrdv{
        background-color: rgba(212, 212, 212, 0.9);
        width:400px;
        height:384px;
        justify-self: right;
        margin-top: 40px;
        padding: 20px 10px 20px 10px;

    }
    .date{
        width: 200px;
    }
    .titre_connexion{
        margin-bottom: 15px;
    }
    .imgrdv{
        width:250px;
        height: 45%;
        border-radius: 2rem;
    }
    /*********************************STYLE CONTACT*************************************************/
   .canard{
    display: inline-block;
       }
      
    .conatainer_general{
        margin-top:2cm;
        padding-top:0.6cm; 
        display: inline-block;
     margin-left: 6cm;
    border-top-right-radius:20px;
      border-top-left-radius:20px;
     background-color:rgb(0,0,0,0.6);
     height: 27cm;
color:white;
width:800px;
    }
    .writeus{

        position: relative;
        font-weight:bold;
        margin-left: 5cm;
        font-size:26px;
     background-color: rgba(0, 0, 0, 0.6);
    font-family: 'Cormorant Garamond', serif;
    border-radius: 20px;
    opacity: 0.8;
    color:white;
width:800px;
margin-left:6cm;
padding-left: 2cm;
    }
 .form_contact{
display: block;
margin-left: 1cm;
    }
.form_contact2{
display:block;
position:relative;
margin-left:7cm;
bottom: 7.9cm;
    }

.corps{
  background-size: cover;
        background-attachment: fixed;
        background-image:url(../images/contact.jpg);
    }
    .map_adr{
 margin-left: 6cm;
     border-bottom-right-radius:20px;
      border-bottom-left-radius:20px;
     background-color:rgb(0,0,0,0.6);
color:white;
width:800px;
    }
    .map{

        position: relative;
        border-radius: 20px;
        margin-left:1cm;
bottom: 5cm;
    }
    .info{
        font-weight: bold;
         font-family: 'Cormorant Garamond', serif;
        margin-left:1cm;
        font-size:26px;
        position: relative;
        bottom:3.5cm;
    }
    .env{
        margin-top: 0.5cm;
        margin-left: 7cm;
        width: 5cm;
       background-color: rgb(181, 87, 6);
       border-color:rgb(181,87,6);
       color:white;
    }
    .env:hover{
        border-color:rgb(0,0,0,0.6);
    }
    /************************************   page detail  *************************************************/
    .imgdetail{
        width:400px;
    }
    .fulldetail{
        margin-top: 20px ;
        margin-bottom: 20px;
        font-family: initial;
        height:100%;
        align-items: center;
    }
    .lesbienssugg{
        margin-top: 30px;
        margin-bottom: 20px;

    }
    .suggestdetail{
        width:230px;
        background-color: rgba(0, 0, 0, 0.7);
        color:white;
        padding:20px;
        border-radius:1rem;
        height:550px

    }
    .infobox{
        border:1px solid silver;
        margin-top: 20px;
    }
    .pointdetail{
        padding:30px;
        font-family: inherit;
        
    }
    .suggcontainer{
        margin-bottom: 7px; 
        width:100%;
    }
    .infosugg>a{
        color:#ff5722;
    }
    .infosugg>a:hover{
        color:#00adb5;
        font-family: 1.2rem;
    }
    .infosugg{
        padding:3px 5px  0 5px;
    }
    .imgsuggestdetail{
        width:60px;
        border-top-left-radius:1rem;
        border-bottom-left-radius:1rem;
    }
    .titrebien{
        border: 1px solid silver;
        border-radius: 2rem;
        margin-bottom:50px;
        padding:5px;
    }
    .liendemanderdv{
        background-color:#ff5722 ;
        margin-top:40px;
        padding: 7px;
        border-radius: 0.5rem;
    }
    .rdvdmdbien{
        color:white ;
        font-size:1.2rem;
        padding: 7px;
    }
    .rdvdmdbien:hover{
        background-color: white;
        padding: 7px;
        border-radius: 0.25rem;
        color:#ff5722;
    }


/******************IMMOBILIER**********************/

.input-group-addon{
    
    position: relative;
    bottom:  29px;
    left: 50px;
    color: #979595;

}

.input-group-addon1{
    position: relative;
    bottom:  30.7px;
    left: 55px;
    color: #979595;
    



    
}

.btn1{
    color: #424242;
    background: none;
    width: 140px;
    height: 42px;
    border: 1px solid #ff5722;
    font-size: 18px;
     border-radius: 4px;
     transition: .6s;
     overflow: hidden;
     position: relative;
     top: 28.5px;
     left: 30px;
}

.btn1:focus{
outline: none;
}

.btn1:hover{
background: #ff5722;
cursor: pointer;
color:white;

}
.fullimmo{
    background:url(../images/n.jpg);
    opacity: 0.95;
    background-size: cover;
    
    padding-top: 40px;
    padding-bottom: 100px;
    font-weight:bold;
}

.yep{
    margin-top: 20px;
    margin-bottom:30px;
    border-radius:0.25rem;
    background:url(../images/n.jpg);
    color:white;
    font-family: 'Cormorant Garamond', serif;
    padding:20px 0 20px 0;
}

